<% include includes/header %>
  
  <div id="post_container">
    <div class="left">
      <img src="<%= data.dp %>" alt="">
    </div>
    
    <div class="right">
      <h2><%= data.title %></h2>
      <p><%= data.blog %></p>
      <img src="<%= data.cimg %>" alt="">
    </div>
    
  </div>
  
<% include includes/footer %>